

.select-title {
    margin-left: 120px;
    width: calc(100% - 120px);
}

th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.toggle-album{
    margin-left: 40px;
    color: black;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.toggle-album > i {
    font-size: 32pt;
}

tr{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}
.action-button {
    margin-left: 24px;
}

.select-album {
    font-size: 16pt;
}

.toggle-artist{
    color: black;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.toggle-artist > i {
    font-size: 32pt;
}

.select-artist {
    font-size: 18pt;
}

#template-root > div {
    width: 100%;
}