.search-results-col > center {
    font-size: 16pt;
    font-weight: 650;
}

.artist-image-short {
    max-height:96px;
    max-width:96px;
    width:96px;
    height: 96px;
}

.result-short {
    background-color: #3333;
    border-radius: 5px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 100%;
}